.DS_Store

# Environment variables
.env
.env.local

# Node modules
node_modules/

# Build output
build
dist
out
.next/
.content-collections/
tsconfig.tsbuildinfo

# IDEs
.vscode
.idea
.cursor

# Logs
logs
*.log
*.log.*
